.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

Android-map-with-bottom-scroller/bin/
Android-map-with-bottom-scroller/local.properties
Android-map-with-bottom-scroller/gen
Android-map-with-bottom-scroller/build

